<div id="ApplicationWindowControl" class="grid-3">
	<a id="min-btn" href="#minimise">
		<%= config.WindowButtonsImg.min %>
	</a>
	<a id="max-btn" href="#maximise">
		<%= config.WindowButtonsImg.max %>
	</a>
	<a id="close-btn" href="#close">
		<%= config.WindowButtonsImg.close %>
	</a>
</div>
<h1>
	<img title="Display Menu" src="../img/ShowCockpit.png" />&nbsp;
	<span>
		<%= PageTitle %>
	</span>
</h1>
<div class="flex-container">
	<aside class="w150p">
		<ul class="is-unstyled">
			<li>
				<a href="<%= config.Page.Search %>" class="finder active">
					<%= config.Page.Search %>
				</a>
			</li>
			<li>
				<a href="<%= config.Page.Options %>" class="options">
					<%= config.Page.Options %>
				</a>
			</li>
			<li>
				<a href="<%= config.Page.Admin %>" class="admin">
					<%= config.Page.Admin %>
				</a>
			</li>
		</ul>
	</aside>
	<div id="maincontent" class="flex-container">