	<form id="AdminForm" method="post" action="#">
	<div class="btn-bar-action">
		<button class="btn" name="submit" id="submit" type="submit">Proceed</button>
	</div>
	<div class="bordered">
		<fieldset>
			<legend>Ingestions</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.AdminForm.IngestAllLibraries %>" name="<%= config.AdminForm.IngestAllLibraries %>">
					<label class="label" for="<%= config.AdminForm.IngestAllLibraries %>">Global Ingestion (on = All Releases)
				</li>
			</ul>
			<ol> 
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.IngestAccessories %>" name="<%= config.AdminForm.IngestAccessories %>">
					<label class="label" for="<%= config.AdminForm.IngestAccessories %>">Ingest Manufacturers Wheels</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.IngestFixture %>" name="<%= config.AdminForm.IngestFixture %>">
					<label class="label" for="<%= config.AdminForm.IngestFixture %>">Ingest Fixtures</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.UpdateFixtureAccessories %>" name="<%= config.AdminForm.UpdateFixtureAccessories %>">
					<label class="label" for="<%= config.AdminForm.UpdateFixtureAccessories %>">Update Fixtures Profile with Pictures</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.ComputeFixtureChangelog %>" name="<%= config.AdminForm.ComputeFixtureChangelog %>">
					<label class="label" for="<%= config.AdminForm.ComputeFixtureChangelog %>">Compute Fixtures Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.ExtractFixtureParameters %>" name="<%= config.AdminForm.ExtractFixtureParameters %>">
					<label class="label" for="<%= config.AdminForm.ExtractFixtureParameters %>">Extract Fixture Parameters</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.ComputeFFStats %>" name="<%= config.AdminForm.ComputeFFStats %>">
					<label class="label" for="<%= config.AdminForm.ComputeFFStats %>">Compute FF@ Statistics</label>
				</li>
			</ol>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.AdminForm.IngestFixturePresets %>" name="<%= config.AdminForm.IngestFixturePresets %>">
					<label class="label" for="<%= config.AdminForm.IngestFixturePresets %>">Ingest Fixture Preset only</label>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Referencing</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.AdminForm.RenewSitemap %>" name="<%= config.AdminForm.RenewSitemap %>">
					<label class="label" for="<%= config.AdminForm.RenewSitemap %>">Renew the Sitemap</label>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Cache Management</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.AdminForm.CacheCleanAll %>" name="<%= config.AdminForm.CacheCleanAll %>">
					<label class="label" for="<%= config.AdminForm.CacheCleanAll %>">Clean all caches</label>
				</li>
			</ul>
			<ul>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.CacheFFChangelog %>" name="<%= config.AdminForm.CacheFFChangelog %>">
					<label class="label" for="<%= config.AdminForm.CacheFFChangelog %>">Clean FF@ Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.CacheLibraryChangelog %>" name="<%= config.AdminForm.CacheLibraryChangelog %>">
					<label class="label" for="<%= config.AdminForm.CacheLibraryChangelog %>">Clean Library  Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.CacheFixtureList %>" name="<%= config.AdminForm.CacheFixtureList %>">
					<label class="label" for="<%= config.AdminForm.CacheFixtureList %>">Clean Fixture List</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.CacheFixture %>" name="<%= config.AdminForm.CacheFixture %>">
					<label class="label" for="<%= config.AdminForm.CacheFixture %>">Clean Fixtures</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.AdminForm.CacheSearch %>" name="<%= config.AdminForm.CacheSearch %>">
					<label class="label" for="<%= config.AdminForm.CacheSearch %>">Clean Fixtures</label>
				</li>
			</ul>
		</fieldset>
	</div>
</form>
<div class="grid-2 bordered" id="Results">
</div>
