<!-- Form control -->
<div class="btn-bar-action">
	<button class="btn" name="submit" id="submit" type="submit">Proceed</button>
</div>

<form class="flex-container" id="AdminForm" method="post" action="#">
	<div class="bordered">
		<fieldset>
			<legend>Ingestions</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.Form.Admin.IngestAllLibraries %>" name="<%= config.Form.Admin.IngestAllLibraries %>">
					<label class="label" for="<%= config.Form.Admin.IngestAllLibraries %>">Global Ingestion (on = All Releases)
				</li>
			</ul>
			<ol> 
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.IngestAccessories %>" name="<%= config.Form.Admin.IngestAccessories %>">
					<label class="label" for="<%= config.Form.Admin.IngestAccessories %>">Ingest Manufacturers Wheels</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.IngestFixture %>" name="<%= config.Form.Admin.IngestFixture %>">
					<label class="label" for="<%= config.Form.Admin.IngestFixture %>">Ingest Fixtures</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.UpdateFixtureAccessories %>" name="<%= config.Form.Admin.UpdateFixtureAccessories %>">
					<label class="label" for="<%= config.Form.Admin.UpdateFixtureAccessories %>">Update Fixtures Profile with Pictures</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.ComputeFixtureChangelog %>" name="<%= config.Form.Admin.ComputeFixtureChangelog %>">
					<label class="label" for="<%= config.Form.Admin.ComputeFixtureChangelog %>">Compute Fixtures Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.ExtractFixtureParameters %>" name="<%= config.Form.Admin.ExtractFixtureParameters %>">
					<label class="label" for="<%= config.Form.Admin.ExtractFixtureParameters %>">Extract Fixture Parameters</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.ComputeFFStats %>" name="<%= config.Form.Admin.ComputeFFStats %>">
					<label class="label" for="<%= config.Form.Admin.ComputeFFStats %>">Compute FF@ Statistics</label>
				</li>
			</ol>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.Form.Admin.IngestFixturePresets %>" name="<%= config.Form.Admin.IngestFixturePresets %>">
					<label class="label" for="<%= config.Form.Admin.IngestFixturePresets %>">Ingest Fixture Preset only</label>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Referencing</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.Form.Admin.RenewSitemap %>" name="<%= config.Form.Admin.RenewSitemap %>">
					<label class="label" for="<%= config.Form.Admin.RenewSitemap %>">Renew the Sitemap</label>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Cache Management</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= config.Form.Admin.CacheCleanAll %>" name="<%= config.Form.Admin.CacheCleanAll %>">
					<label class="label" for="<%= config.Form.Admin.CacheCleanAll %>">Clean all caches</label>
				</li>
			</ul>
			<ul>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.CacheFFChangelog %>" name="<%= config.Form.Admin.CacheFFChangelog %>">
					<label class="label" for="<%= config.Form.Admin.CacheFFChangelog %>">Clean FF@ Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.CacheLibraryChangelog %>" name="<%= config.Form.Admin.CacheLibraryChangelog %>">
					<label class="label" for="<%= config.Form.Admin.CacheLibraryChangelog %>">Clean Library  Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.CacheFixtureList %>" name="<%= config.Form.Admin.CacheFixtureList %>">
					<label class="label" for="<%= config.Form.Admin.CacheFixtureList %>">Clean Fixture List</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.CacheFixture %>" name="<%= config.Form.Admin.CacheFixture %>">
					<label class="label" for="<%= config.Form.Admin.CacheFixture %>">Clean Fixtures</label>
				</li>
				<li>
					<input type="checkbox" class="checkbox" id="<%= config.Form.Admin.CacheSearch %>" name="<%= config.Form.Admin.CacheSearch %>">
					<label class="label" for="<%= config.Form.Admin.CacheSearch %>">Clean Fixtures</label>
				</li>
			</ul>
		</fieldset>
	</div>
	<div id="Results" class="bordered">
	</div>
</form>
