<!-- Form control -->
<div class="btn-bar-action">
    <!--<button class="btn" name="submit" id="<%= config.Form.Search.Form %>submit" type="submit">Quick Actions</button>-->
    <button class="btn" name="reset" id="<%= config.Form.Search.Form %>reset" type="submit">Reset</button>
</div>

<form class="flex-container" id="<%= config.Form.Search.Form %>" method="post" action="#">
    <div class="bordered w250p">
        <fieldset>
            <legend>Build the DMX Chart</legend>

            <p>Set your filter to display matching fixtures</p>

            <label class="label" for="<%= config.Form.Search.DMXChannelCount %>">DMX Channel Count</label>

            <div class="sticky flex-container">
                <button type="button" class="digitbutton btn" id="<%= config.Form.Search.DMXChannelCount_Btn_Rem %>">-</button>
                <input class="digital" autocomplete="off" type="text" id="<%= config.Form.Search.DMXChannelCount %>" name="<%= config.Form.Search.DMXChannelCount %>"
                    value="000" />
                <button type="button" class="digitbutton btn" id="<%= config.Form.Search.DMXChannelCount_Btn_Add %>">+</button>
            </div>

        </fieldset>
    </div>
    <div class="bordered w250p">
        <fieldset>
            <legend>Other Criteria</legend>

            <p>To refine your search</p>

            <label class="label" for="<%= config.Form.Search.DMXChannelCount_Max %>">Max DMX Channel</label>
            <div class="sticky flex-container">
                <button type="button" class="digitbutton btn" id="<%= config.Form.Search.DMXChannelCount_Max_Btn_Rem %>">-</button>
                <input class="digital" autocomplete="off" type="text" id="<%= config.Form.Search.DMXChannelCount_Max %>" name="<%= config.Form.Search.DMXChannelCount_Max %>"
                    value="000">
                <button type="button" class="digitbutton btn" id="<%= config.Form.Search.DMXChannelCount_Max_Btn_Add %>">+</button>
            </div>
            <div>
                <label class="label" for="<%= config.Form.Search.Manufacturer %>">Manufacturer</label>
                <select data-option="" data-default="<%= config.Default.All.toLowerCase() %>" autocomplete="off" name="<%= config.Form.Search.Manufacturer %>"
                    id="<%= config.Form.Search.Manufacturer %>">
                    <option value="<%= config.Default.All.toLowerCase() %>">
                        <%= config.Default.All %>
                    </option>
                </select>
            </div>
            <div>
                <label class="label" for="<%= config.Form.Search.FixtureName %>">Fixture Name</label>
                <select data-option="" data-default="<%= config.Default.All.toLowerCase() %>" autocomplete="off" name="<%= config.Form.Search.FixtureName %>"
                    id="<%= config.Form.Search.FixtureName %>">
                    <option value="<%= config.Default.All.toLowerCase() %>">
                        <%= config.Default.All %>
                    </option>
                </select>
            </div>
        </fieldset>
    </div>
    <div id="Results" class="bordered">
    </div>
</form>