<!-- Form control -->
<div class="btn-bar-action">
    <button class="btn" name="submit" id="submit" type="submit">Search</button>
    <button class="btn" name="reset" id="reset" type="submit">Reset</button>
</div>

<form class="flex-container" id="SearchForm" method="post" action="#">
    <div class="bordered w250p">
        <fieldset>
            <legend>Build the DMX Chart</legend>
                
            <p>Set your filter to display matching fixtures</p>

            <label class="label" for="<%= config.SearchForm.DMXChannelCount %>">DMX Channel Count</label>

            <div class="sticky flex-container">
                <button type="button" class="digitbutton btn" id="<%= config.SearchForm.DMXChannelCount_Btn_Rem %>">-</button>
                <input class="digital" autocomplete="off" type="text" id="<%= config.SearchForm.DMXChannelCount %>" name="<%= config.SearchForm.DMXChannelCount %>" value="000" />
                <button type="button" class="digitbutton btn" id="<%= config.SearchForm.DMXChannelCount_Btn_Add %>">+</button>
            </div>

            <!--<div class="channelfield flex-container">
                <label class="label" for="<%= config.SearchForm.BaseName_Channel %>1">#1</label>
                <select data-default="<%= config.Default.Any %>" autocomplete="off" name="<%= config.SearchForm.BaseName_Channel %>1" id="<%= config.SearchForm.BaseName_Channel %>1">
                    <option value="<%= config.Default.Any %>" selected="selected"><%= config.Default.Any %></option>
                </select>
            </div>

            <div class="channelfield wheelfield flex-container">
                <label class="label" for="<%= config.SearchForm.BaseName_Channel %>3">#3</label>
                <select data-default="<%= config.Default.Any %>" autocomplete="off" name="<%= config.SearchForm.BaseName_Channel %>3" id="<%= config.SearchForm.BaseName_Channel %>3">
                    <option value="<%= config.Default.Any %>"><%= config.Default.Any %></option>
                    <option value="color" selected="selected">Color</option>
                </select>
                <input class="digital" autocomplete="off" type="text" id="<%= config.SearchForm.BaseName_Wheel_Color %>1" name="<%= config.SearchForm.BaseName_Wheel_Color %>1" value="<%= config.Default.Infinity %>">
            </div>-->

        </fieldset>
    </div>
    <div class="bordered w250p">
            <fieldset>
                <legend>Other Criteria</legend>

                <p>To refine your search</p>
    
                <label class="label" for="<%= config.SearchForm.DMXChannelCount_Max %>">Max DMX Channel</label>
                <div class="flex-container">
                    <button type="button" class="digitbutton btn" id="<%= config.SearchForm.DMXChannelCount_Max_Btn_Rem %>">-</button>
                    <input class="digital" autocomplete="off" type="text" id="<%= config.SearchForm.DMXChannelCount_Max %>" name="<%= config.SearchForm.DMXChannelCount_Max %>" value="000">
                    <button type="button" class="digitbutton btn" id="<%= config.SearchForm.DMXChannelCount_Max_Btn_Add %>">+</button>
                </div>
    
                <label class="label" for="<%= config.SearchForm.Manufacturer %>">Manufacturer</label>
                <select data-default="<%= config.Default.All %>" autocomplete="off" name="<%= config.SearchForm.Manufacturer %>" id="<%= config.SearchForm.Manufacturer %>">
                    <optgroup label="A">
                        <option value="<%= config.Default.All %>" selected="selected"><%= config.Default.All %></option>
                    </optgroup>
                </select>
    
                <label class="label" for="<%= config.SearchForm.FixtureName %>">Fixture Name</label>
                <select data-default="<%= config.Default.All %>" autocomplete="off" name="<%= config.SearchForm.FixtureName %>" id="<%= config.SearchForm.FixtureName %>">
                    <optgroup label="A">
                        <option value="<%= config.Default.All %>" selected="selected"><%= config.Default.All %></option>
                    </optgroup>
                </select>
            </fieldset>
        </div>
    <div id="Results" class="bordered">
    </div>
</form>