<div class="channelfield flex-container">
    <label class="label" for="<%= config.SearchForm.BaseName_Channel %><%= Channel %>">#<%= Channel %></label>
    <select data-default="<%= config.Default.Any %>" autocomplete="off" name="<%= config.SearchForm.BaseName_Channel %><%= Channel %>" id="<%= config.SearchForm.BaseName_Channel %><%= Channel %>">
        <option value="<%= config.Default.Any %>" selected="selected"><%= config.Default.Any %></option>
    </select>
</div>