<div class="channelfield flex-container">
    <label class="label" for="<%= config.Form.Search.BaseName_Channel %><%= config.ChangeRegex.Channel %>">#<%= config.ChangeRegex.Channel %></label>
    <select data-default="<%= config.Default.Any %>" autocomplete="off" name="<%= config.Form.Search.BaseName_Channel %><%= config.ChangeRegex.Channel %>" id="<%= config.Form.Search.BaseName_Channel %><%= config.ChangeRegex.Channel %>">
    </select>
</div>